#nav-bar {
    background-color: rgb(175, 175, 175);
    width: 100%;
    border: 1px solid black;
    margin-bottom: 25px;
}

.nav-button {
    height: 50px;
    width: 150px;
    margin: 2px 5px;
}

#frame {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 600px
}